.navigator {
    background-color: #9E8F8C;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    text-align: center;
    width: 700px;
    margin-top: 0;
    padding-top: 0;
}

.center {
    margin: auto;
    width: fit-content;
}

.nav-item {
    width: 33%;
}

.col-3 {
    display: flex;
    padding-left: 10px;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}